<footer>
    <p>Developed for learning purpose with Nest JS</p>
    <a href="https://github.com/juhhh0/nest-todo" style="display: flex; align-items: center; gap: 10px;"><img style="width: 18px;" src="/github.svg" alt="github icon" />Repository</a>
    <a href="https://juhh.fr" style="display: flex; align-items: center; gap: 10px;"><img style="width: 18px;" src="/www.svg" alt="github icon" />Portfolio</a>
</footer>
</body>
</html>