<%- include("./partials/header", {title: "Home"}) %>
<h1>Home Page</h1>
<% if(locals.connected) { %>
    <p>Welcome <%= locals.user.username %></p>
<% } else { %>
    <p>Welcome, please <a href="/user/login">login</a> or <a href="/user/signup">signup</a></p>
<% } %>
<%- include("./partials/footer") %>