<form class="todo-form" action="todo/add" method="post">
    <%- include("../components/input", {type: "text", name: "title", placeholder: "What do you have to do ?"}) %>
    <%- include("../components/button", {type: "submit", label: "add", color: "purple"}) %>
</form>